:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

.trains {
  width: 30%;
}

.caption{
  font-size: 2.2em;
  line-height: 1.1;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

.head {
  font-size: 1.2em;
  line-height: 2.8;
  text-align: left;
  padding: 0 40px 6px 0;
  color: rgb(107, 107, 107);
}

.link {
  cursor: pointer;
}

.link:hover {
 color: #969595;
}

.item {
  padding: 8px 10px 8px 0;  
}

.container{
  text-align: center;
}

.characteristics {
  padding-bottom: 40px;
}

input {
  border-radius: 4px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.1em;
  font-family: inherit;
  cursor: pointer;
}

.input {
  border: 1px solid transparent;
  color: #213547;
}

.error {
  border: 1px solid #ba2121;
  color: #ba2121;
}

button {
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #1a1a1a;
}
button:hover {
  border-color: #646cff;
  color: #646cff;
}

.disabled {
  border-color: #c4c3c3;
  color: #c4c3c3;
}

.disabled:hover {
  cursor: not-allowed;;
  border-color: #c4c3c3;
  color: #c4c3c3;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  max-width: 1200px;
  margin: 20px;
}
